<div class="drawing-done">
  <div class="word">{{word}}</div>
  <a href="{{img}}" download="{{word}}.png">
    <img src="{{img}}" alt="{{word}}" style="width: 100%">
  </a>
  <img src="gfx/nopic50.png" alt="" class="user" />
  <div class="by">{{name}}</div>
</div>
