<div class="drawing-done">
  <div class="word">{{word}}</div>
  {{#if fid}}
  <a href="/p/{{fid}}/latest" target="_blank">
  {{else}}
  <a href="{{url}}" download="{{word}}.png" target="_blank">
  {{/if}}
    <img src="{{img}}" alt="{{word}}" style="width: 100%">
  </a>
  <img src="{{picture}}" alt="" class="user" />
  <div class="by">{{name}}</div>
</div>
