<img src="images/{{image}}" alt="{{name}}">
<h1>{{name}}</h1>
<p class="description">{{description}} Just nu <span class="nr-of-players">{{nrOfPlayers}}</span> spelare med <span class="rounds-left">{{roundsLeft}}</span> rundor kvar att spela.</p>
<div class="players">
  {{#each players}}
  <div class="player">
    <img src="{{picture}}" alt="{{name}}">
    <div class="name">{{name}}</div>
  </div>
  {{/each}}
</p>
