<header>
  <h1>Skissa och gissa</h1>
  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</header>

<main id="main">
  <div id="games">
    <div id="load-games"><img src="gfx/ajax-loader.gif">Hämtar spel...</div>
  </div>

  <aside id="sidebar">
    <div id="fb-root"></div>
    <div id="facebook">
      <span class="f">f</span>
      <a href="#" id="fb-login-button">Logga in med Facebook</a>
    </div>
    <div id="highscore">
      <h1>Highscore</h1>
      <ul>
      {{#each highscore}}
        <li data-login-id="{{login_id}}">
          <img src="{{picture}}" alt="{{name}}">
          <span class="name">{{name}}</span>
          <span class="score">{{points}} poäng</span>
        </li>
      {{/each}}
      </ul>
    </div>
  </aside>
</main>

<footer id="footer">Webbplatsen är skapad av <a href="#">Christian Nilsson</a>.</footer>
