<div class="player{{#if you}} you{{/if}}" id="player-{{id}}">
  <img src="{{picture}}" alt="{{name}}">
  <div class="information">
    <span class="name">{{name}}</span>
    <span class="points">{{points}} poäng</span>
  </div>
</div>
