<div id="popup">
  <div class="title">{{title}}</div>
  <div class="message">{{#if escape}}{{message}}{{else}}{{{message}}}{{/if}}</div>
  <div class="extra">{{#if escape}}{{extra}}{{else}}{{{extra}}}{{/if}}</div>
</div>
