<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
  <title>{{settings.title}}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <div id="image-wrapper">
    <img src="/images/{{url}}" alt="{{word}} av {{name}}" />
    <div id="sidebar">
      <h1>{{word}}</h1>
      <div id="meta">Ritad av <a href="{{link}}" id="author-link">{{name}}</a>.</div>
      <a href="/images/{{url}}" class="save-btn" download="{{word}}.png">Spara bilden</a>
    </div>
  </div>
</body>
</html>
