<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
  <title>{{settings.title}}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <div id="image-wrapper">
    {{#if special}}
      {{#each images}}<img src="/images/{{this}}">{{/each}}
    {{else}}
      {{#each images}}
      <div class="image"><a href="/img/{{_id}}"><img src="/images/{{url}}" alt="{{word}} ritad av {{player}}"></a></div>
      {{else}}
      <p>Inga bilder! :(</p>
      {{/each}}
    {{/if}}
    </div>
  </div>
</body>
</html>
